.hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
  .hamburger-menu{
    display: none;
}
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: #e2dddd;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .open .line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  
  .open .line:nth-child(2) {
    opacity: 0;
  }
  
  .open .line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  
  .menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #f1f1f1;
    width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }
  
  .open.menu {
    max-height: 300px;
  }
  
  .menu.open ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .menu.open ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  @media (max-width: 768px) {
    .hamburger-menu {
      align-items: flex-start;
    }
  
    .hamburger-menu{
        display: block;
    }
    .menu {
      position: static;
      max-height: none;
      overflow: visible;
      background-color: transparent;
    }
  
    .menu ul li {
      border-bottom: none;
    }
  }
  